<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://po-out-bound-fa-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c9490d92-aa64-4485-b2b3-6ab98110f1a0/resourceGroups/po-dev-rg/providers/Microsoft.Web/sites/po-out-bound-fa-dev</ResourceId>
    <UserName>$po-out-bound-fa-dev</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://po-out-bound-fa-dev.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>